:root{
    --background-image:url(./Media/3541800.jpg);
      --jumbotron-color: #141b41;
      --playlist-items-background-color: #1a1e33;
	--playlist-items-background-color-on-hover:#2e3249;
   }
   @keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
  }

  body {
    margin: 0px;
    /* background-color: #051657; */
    /* animation: moveBackground  10s  ease-in-out infinite; */
    background-image:var(--background-image);
    transition: var(--transition);
    font-family: sans-serif;
    color:white;
  margin: 0px;
  padding: 0px;
  } 

  .navigation-bar{

    position: fixed;
    z-index:20;
   display:flex;
   background-color: #282828;
   justify-content:space-between;
   align-items: center;
   box-sizing: border-box;
       transition: all ease-in-out 1s;
     top: 0;
       left: 0;
       right: 0;
       padding: 0.5rem 1.5rem;
   
   }
   
   
   .title-combo{
     display: flex;
     width:15%;
     align-items: center;
   }
   
   
   @keyframes rotating{
       0%{
         transform:rotate(0deg);
       }
       100%{
         transform: rotate(360deg);
       }
   }
   
   
    .website-logo img{
       width: 41px;
       border-radius: 100%;
       animation-name: rotating;
       animation-timing-function: ease-in-out;
       animation-duration: 2s;
       animation-iteration-count: infinite;
     margin-right: 1rem;
   } 
   
   
   
   .website-name h4, h2{
     color: white;
     margin:0px;
   }
   
   .search-bar{
   
     margin-top: -6px;
     position: relative;
     width: 25%;
       text-align: center;
     
   }
   .search-icon{
     position: absolute;
     z-index:50;
     color: rgba(0, 0, 0, 0.5);
     top: 25%;
       left: 3%;
   
   }
   .search-bar input{
     padding: 8px 14px;
       border-radius: 72px;
       border: none;
       font-size: 1rem;
       text-align: center;
       position: relative;
       width: 100%;
   }
   .microphone {
     position: absolute;
     top: 18%;
     color: rgba(0, 0, 0, 0.5);
     right: -5%;
   
   }
   
   .favs h5{
     position: relative;
     left: -98%;
     margin:7px;
     width:20%;
     color:goldenrod;
     font-size: 19px;
   }
   @keyframes trans{
     0%{
      transform: scaley(1.1) ;
     }
     100%{
       transform: scaley(2) ;
       color:chocolate;
     }
   }
   .favs {
     animation-name: trans;
     
     color:white;
     animation-timing-function: ease-in-out;
       animation-duration: 2s;
       perspective: 10000px;
       transform-style: preserve-3d;
       animation-iteration-count: infinite;
   }
   
   @keyframes ringing_bell {
       0% {
           transform: rotate(-15deg);
       }
       50% {
           transform: rotate(15deg);
       }
       100% {
           transform: rotate(-15deg);
       }
   }
   
   .notification-bell img {
       width: 40px;
       height: 30px;
       animation-name: ringing_bell;
       animation-duration: 0.4s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: infinite;
       animation-delay: 10s;
       position: first;
   }
   .notification-bell{
     display:flex;
     align-items: center;
     
   }
   .notification-bell span{
      font-size: 1.2rem;
   }
   .profile-picture {
   
     width:35px;
     margin-right: 10px;
      
   }
   .profile-picture img{
     width:100%;
     border-radius: 50%;
     opacity: 1;
   } 

   .aside {
	display: inline-block;
	overflow: hidden;
}
/* section one of the main part */
.section-1 {
	width: 70%;
	height: 100%;
}
   
   /* Junbotron */

   .jumbotron{
        height: 18vw;
        width: 92%;
        margin-top: 6vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--jumbotron-color);
        margin-bottom: 40px;
        left:3vw;
        position: relative;
    
   }


   .jumbotron-image{
    height: 100%;
	width: 20vw;
    background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(20, 27, 65, 1)
    ),url("./Media/latest\ english/roar.jpg");
    background-size: cover;
   }
  

   .jumbotron-detail {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding-right: 12px;
    margin-left: 3%;
}

.descriptive-part{
    width:100%;

}

.song-name-main,.followers{
   display: inline-block;
   
}

.song-name-main h1{
  font-size:2vw;
  margin-bottom: 0;
}

.followers{
    position: absolute;
	right: 0%;
	top: 5%;

}

.followers,
.author {
    margin-top:2px;
	font-size: 1.5vw;
    margin-bottom:2px;
}
.desc {
	font-size: 1.1vw;
    margin:0px;
    margin-top:1px;
}

.action-part p {
	font-size: 1vw;
}
.btns{
  margin-top: 10px;
}

.btns > button {
	border: 0px;
	height: 3vw;
	width: 10vw;
	color: white;
	font-size: 1.2vw;
}

.btns > button:nth-child(1){
    background-image:linear-gradient(-19deg, red 0%, blue 100%) ;
}

.btns > button:nth-child(2) {
	background-color: transparent;
}

/* playlist */
.playlist-items{
    top:50%;
    height:50vw;
    width:92%;
    position: relative;
    left: 3vw;
}
.playlist-item {
	
	height: 4vw;
    left:3vw;
	box-sizing: border-box;
	background-color: var(--playlist-items-background-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;

}

.playlist-item:hover {
	background-color: var(--playlist-items-background-color-on-hover);
}
.left {
    left:3vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    justify-content: space-between;
	align-items: center;
	width: 30%;
	height: 100%;
	padding: 0% 1%;
}
.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: min-content;
	height: 100%;
}
/* right part of the playlist item, which contains icons */
.right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	padding-right: 2%;
}

.left > div:nth-child(2){
    width:75px;
    height:105%;
    position: relative;

}

.left > div:nth-child(2) img{
    width:100%;
    height:100%
}

.left > div:nth-child(3) p{

    color: rgb(185, 185, 185);
}
.left-auther h5{
    margin-bottom:0px;
}
.left-auther p{
    margin-top:0px;
}
.play-btn {
	background-color: black;
	width: 100%;
	height: 4vw;
    left:2vw;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.1s;
}
.play-btn:hover{
    opacity:0.7;
}

.left div p {
	font-size: 14px;
}
.center {
	font-size: 12px;
	color: rgb(185, 185, 185);
}
.right {
	color: rgb(185, 185, 185);
}
.right div:nth-child(2) {
	margin-left: 27%;
}

/* aside */
 label[for='more']{
	display: none;
	position: absolute;
	right: 0%;
	top: 20%;
	padding-bottom: 5px;
	z-index: 3;
	box-shadow: 0px 0px 2px 1px white;;
	width: 70px;
	font-size: 20px;
	height: 21px;
	text-align: center;
	background-image: linear-gradient(red, blue);
} 
/* on a normal display, it will be hidden */



 

/* ASIDE SECTION -2 */
  .section-2{
    position: absolute;
    width:30%;
    right:2vw;
     height:100%;
     top:14%;
     z-index: 2;
     display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
   }
   
   .similar{
    height: 100%;
    width: 30%;
    margin-left: 11px;
    position: fixed;
    right: 15px;
    top: 75px;
    
   
   } 

   .section-heading{
    width:100%;
    height:5vw;
    margin-top: -6px;
	position: relative;
	margin-bottom: 0px;
   }

   .section-heading div,
.section-heading h1 {
	display: inline-block;
}

.section-heading h1 {
	font-size: 23px;
}
.section-heading div {
	position: absolute;
	bottom: 21%;
	right: 0px;
	font-size: 15px;
}

.list {
	height: 29vh;
	overflow: scroll;
}
/* hiding the scrollbar */
.list::-webkit-scrollbar {
	display: none;
}

.list-item {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 12px;
}
.small-list .left{
  width:max-content;
  gap:1rem;
}

.List-item:hover {
	background-color:var(--playlist-items-background-color-on-hover); 
}

.list-item > div:nth-child(1) {
	width: 100px;
	height: 100%;
	position: relative;
}

.list-item > div:nth-child(1) > img {
	width: 100%;
	height: 100%;
}
.play-btn i{
    opacity:0.8;
}
.Middle > h5{
    margin-bottom: 0;
}

.Middle > p{
    margin-top: 0;
}


.author-name {
	font-size: 14px;
	color: rgb(185, 185, 185);
}
.extra {
	text-align: right;
	height: 100%;
}



/* footer */
footer{

    position: fixed;
    bottom:0px;
    width:100%;
    height: 60px;
    background-color: #282828;
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    flex-wrap: nowrap;
      padding: -1px 2%;
      box-sizing: border-box;
    z-index:5;
  }
  
  .active-song-description{
    height: 90%;
    width:25%;
    display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  
  #song-image{
    height:50px;
    width:50px;
  }
  
  #song-image img {
      width: 100%;
      height: 100%;
    font-size: 10px;
  }
  .song-desc {
      margin-right: 1%;
      margin-left: 1%;
    /* display: flex;
    flex-direction: row;
    flex-wrap:nowrap; */
  }
  /* song name */
  .song-desc div:nth-child(1) {
      font-size: 15px;
  }
  /* song author */
  .song-desc div:nth-child(2) {
      font-size: 12px;
  }
  .sun{
    height: 100%;
      padding-top: 4%;
    margin:3px;
    
  }
  .sun div:nth-child(3){
    font-size: 10px;
  }
  .heart-and-ban-icon {
      height: 100%;
      padding-top: 4%;
    /* display: flex;
    flex-direction: row; */
  }
  
  .player {
    width:45%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap: nowrap;
  
  }
  
  .controls{
    width: 40%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    font-size:20px;
  }
  
  #slider{
    width:100%;
    font-size:12px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top:5px;
  }
  
  .time{
    margin: 0px 10px;
  }
  
  .slidecontainer{
    width:100%;
  }
  
  .slider{
    
    width: 100%;
    height:5px;
    background-color: #d3d3d3;
    opacity: 0.5;
  }
  .slider:hover {
      opacity: 1;
  }
  /* circular pointer */
  .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #4caf50;
      cursor: pointer;
  }
  
  
  /* extra */
  .extras {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  
  .time-date{
    font-size: 14px;
    margin:2px;
    display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .bell{
    margin-left:5px;
  }
  